{% extends 'yardsale/base.html' %}

{%block content %}
    <div class="container">
        <div class="searchlist">
            <ul id="search-results">
                
            </ul>
        </div>
        <div class="followers col-sm-12">
            <ul class="followerlist">
            {% for name in names %}
                <div class="col-sm-4"><h3><a href="{% url 'yardsale.views.follower_warnings' pk=name.pk %}">{{ name }}</a></h3><h5>Warnings: {{ name.warnings.count }}</h5></div>
            {% endfor %}
            </ul>
        </div>
    </div>

{% endblock content %}
