{% extends 'yardsale/base.html' %}

{%block content %}
    <div class="container">
        <div class="col-sm-6">
            <h1>{{ warn.follower }}</h1><h4>{% if warn.following %}
                    Following
                {% else %}
                    Blocked
                {% endif %}</h4>
                <form method="POST" class="followingform hidden">
                    {% csrf_token %}
                    {{ form }}
                    <input class="button" type="submit" value="Apply" />
                </form>
                <br></br>
                {% for warns in warn.warnings.all %}
                    Posted:  {{ warns.publish_date }}   Posted By:  {{ warns.author }}
                {% if warns.edited_date %}
                    Edited:   {{ warns.edited_date }} Edited By:   {{ warns.editor }}
                {% endif %}    
                <a href="{% url 'edit_warn' pk=warns.pk %}">EDIT</a>
                <br></br>
                <p>Warning Type:
                <div class="warningtype">
                    {{ warns.WarningType }}
                </div>
                </p>
                Description:  
                <div class="description">
                    {{ warns.descript }}
                </div>
                <br></br>
                {% if warns.image %}
                    <a href={{ warns.image.url }}>screenshot</a>
                    {% if warns.image2 %}
                        <a href={{ warns.image2.url }}>screenshot</a>
                    {% endif %}
                        {% if warns.image3 %}
                            <a href={{ warns.image3.url }}>screenshot</a>
                        {% endif %}
                            {% if warns.image4 %}
                                <a href={{ warns.image4.url }}>screenshot</a>
                            {% endif %}
                                {% if warns.image5 %}
                                    <a href={{ warns.image5.url }}>screenshot</a>
                                {% endif %}
                {% else %}
                    No screenshot available.
                {% endif %}
                {% endfor %}
                <br></br>
            <a href="{% url 'new_warn' pk=fop.pk %}">
            ADD NEW
            </a>
        </div>
    </div>
{% endblock %}
